@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody">
        dd
    </div>
    <div id="divDireita" class="secoesBody">
        <div id="cabecalhoCard" class="itemCard">-</div>
        <div id="textoCard" class="itemCard">-</div>
        <div id="rodapeCard" class="itemCard">
            <span class="material-symbols-outlined">
              arrow_back_ios
              </span>
              <span class="material-symbols-outlined">
               arrow_forward_ios
               </span>
           
        </div>
    </div>
</div>